.footer {
  padding-top: $gap * 3;
  color: $color-gray;
  background-color: $color-dark;

  ul {
    padding: 0;
    list-style: none;
  }

  a {
    color: darken($color-light, 55%);  

  &:hover {
      color: $color-light;
    }
  }

  &-fifth {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    a {
      color: $color-gray;
    }
  }
}

